body {
    /*background-color: #d7d7d7;*/
    background-image: url("../images/clouds-49520_1920.jpg");
    color: black;
}

.title {
    color: darkblue;
    font-size: 50px;
}

.subtitle {
    color: darkblue;
}

#getting-forecast {
    color: darkblue;
    display: none;
}

.weather-tab {
    background-color: white;
    /*height: 400px;*/
    border-radius: 5px;
    width: 160px;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 700;
    color: darkblue;
}

.weather-description {
    height: 70px;
}

.upper-tab {
    /*height: 50%;*/
}

.copyright-text {}