body {
    background-image: url("../images/clouds-49520_1920.jpg");
    color: black;
    overflow-x: hidden;
    height: 100vh;
}

.content {
    min-height: 85vh;
}

.title {
    color: darkblue;
    font-size: 50px;
}

.subtitle a {
    color: blue;
}

.subtitle {
    color: darkblue;
}

#getting-forecast {
    color: darkblue;
    display: none;
    width: 5rem; 
    height: 5rem;
}

#weather-start{
    height: 200px;
}

@media screen and (max-width: 600px) {

    #weather-tabs {
        margin-right: 30px;
        margin-left: 30px;
    }

    .weather-tab {
        background-color: white;
        border-radius: 5px;
        text-transform: uppercase;
        font-size: 20px;
        font-weight: 700;
        color: darkblue;
        margin-top: 20px;
    }
}

@media screen and (min-width: 1300px) {
    .weather-tab {
        background-color: white;
        border-radius: 5px;
        width: 160px;
        text-transform: uppercase;
        font-size: 20px;
        font-weight: 700;
        color: darkblue;
    }

    .weather-description {
        height: 70px;
    }
}


.weather-tab-error{
    height: 200px;
    border-radius: 5px;
    width: 800px;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 700;
    color: darkblue;
}

.copyright-text {
    color: darkblue;
}